version: '3'


volumes:
  pg_data_production:
  static_volume:
  media_volume:


services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data_production:/var/lib/postgresql/data
  backend:
    image: mellolissa/foodgram_backend:latest
    env_file: .env
    depends_on:
      - db
    volumes:
      - static_volume:/backend_static
      - media_volume:/var/www/foodgram/media/
  frontend:
    image: mellolissa/foodgram_frontend:latest
    env_file: .env
    command: cp -r /app/build/. /static/
    volumes:
      - static_volume:/static
      #- ./frontend/:/app/build/
  nginx:
    image: mellolissa/foodgram-proxy
    env_file: .env
    depends_on:
      - backend
      - frontend
    volumes:
      - static_volume:/staticfiles/
      - media_volume:/var/www/foodgram/media/
    ports:
      - 8001:80